---
export interface Props {
  color: string
  currentPage: string
  topic: string
}

import clsx from 'clsx'

const { color, currentPage, topic } = Astro.props

const links = [
  {
    name: 'Informations',
    page: 'info',
    href: `/${topic}`,
  },
  {
    name: 'Intervenants',
    page: 'speakers',
    href: `/${topic}/speakers`,
  },
  {
    name: 'Ouvrage',
    page: 'publication',
    href: `/${topic}/publication`,
  },
  {
    name: 'Poster',
    page: 'poster',
    href: `/${topic}/poster`,
  },
  {
    name: 'Live',
    page: 'live',
    href: `/${topic}/live`,
  },
]
---

<div class="flex flex-col w-56 space-y-8  md:items-center" >
  {
    links.map((n) => (
      <a
        href={n.href}
        class={clsx(
          'item font-semibold text-center flex items-center rounded-[10px] border-black border-2 font-display justify-center py-3 text-[25px] uppercase  md:w-[64.8vw]',
          currentPage == n.page && 'active'
        )}
      >
        {n.name}
      </a>
    ))
  }
</div>

<style define:vars={{ activeColor: color }}>
  .item {
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: white;
  }

  .active {
    background-color: var(--activeColor);
  }
</style>
