---
import { CollectionEntry, getCollection } from 'astro:content';
import TopicLayout from '@/layouts/TopicLayout.astro';
import H1 from '@/components/H1.astro';
export async function getStaticPaths() {
    const topics = await getCollection("topic");
    return topics.map((p) => ({
        params: { slug: p.slug },
        props: p,
    }));
}
const topic = Astro.props as CollectionEntry<"topic">;
---

<TopicLayout name={topic.data.name} topic={topic.slug} currentPage={'poster'}>
  <div class="ml-14">
    <H1>{topic.data.poster.title}</H1>
    <p class="text-[20px] mt-7 mb-24">
      {topic.data.poster.firstContent}
    </p>
    <div class="img-container w-3/6 rounded-lg">
      <img class="" src={topic.data.poster.img} alt="" />
    </div>
</TopicLayout>
