---
<<<<<<< HEAD
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Head from "@/components/Head.astro";
import RightNavigation from "@/components/RightNavigation.astro";
import Band from "@/components/Band.astro";
=======
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import RightNavigation from '@/components/RightNavigation.astro'

>>>>>>> 8a7b8075c56016fff1c2e8e252ec58552c645817
export interface Props {
  name: string
  topic: string
  currentPage: string
}

const { name, topic, currentPage } = Astro.props

import { colors } from 'src/lib/content'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{name} - {'TODO'}</title>
    <Head />
  </head>
  <Header />
  <body>
<<<<<<< HEAD
    <Band />
=======
    <div class="band" style="right:0; display:flex; justify-content: end;">
      <div class="band-img-box" style="width:844px; position: relative; ">
        <img src=`../../public/images/${name}.webp` alt="" class="band-img" />
        <h1
          style="position: absolute;   left: 50%;  top: 50%; transform: translate(-20%, -50%); font-size: 50px; font-family:'Hind'; font-weight: bold; width:500px; text-align: center;"
        >
          {name}
        </h1>
      </div>
>>>>>>> 8a7b8075c56016fff1c2e8e252ec58552c645817
    </div>

    <div class="main mx-14 mt-12 flex justify-between">
      <div class="max-w-4xl">
        <slot />
      </div>
      <RightNavigation
        color={colors[topic]}
        currentPage={currentPage}
        topic={topic}
      />
    </div>
    <Footer />
  </body>
</html>
